.git
.gitignore
.gitmodules
.husky
.npm-cache
.npmrc

/temp
/node_modules
/src
/test

tsconfig.json
tsconfig.buid.json
tsconfig.tsbuildinfo
jest.config.json
.prettierrc
.eslint.config.mjs

!dist
!vendor
!package.json
!pnpm-lock.yaml